In [1]:
## Uncomment this code to install required packages
# %pip install pandas scikit-learn scikit-learn-intelex xgboost

Requirement already satisfied: pandas in ./venv/lib64/python3.12/site-packages (2.2.1)
Requirement already satisfied: scikit-learn in ./venv/lib64/python3.12/site-packages (1.4.1.post1)
Requirement already satisfied: scikit-learn-intelex in ./venv/lib64/python3.12/site-packages (2024.1.0)
Requirement already satisfied: xgboost in ./venv/lib64/python3.12/site-packages (2.0.3)
Requirement already satisfied: numpy<2,>=1.26.0 in ./venv/lib64/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib64/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib64/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib64/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in ./venv/lib64/python3.12/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in ./venv/lib64/python3.12/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./venv/lib64/python3.12/site-packages (from scikit-learn) (3.3.0)
Requirement already satisfied: daal4py==2024.1.0 in ./venv/lib64/python3.12/site-packages (from scikit-learn-intelex) (2024.1.0)
Requirement already satisfied: daal==2024.1.0 in ./venv/lib64/python3.12/site-packages (from daal4py==2024.1.0->scikit-learn-intelex) (2024.1.0)
Requirement already satisfied: tbb==2021.* in ./venv/lib64/python3.12/site-packages (from daal==2024.1.0->daal4py==2024.1.0->scikit-learn-intelex) (2021.11.0)
Requirement already satisfied: six>=1.5 in ./venv/lib64/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Importing required packages
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, StackingRegressor
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
import pandas as pd
import xgboost as xgb
import numpy as np
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [3]:
data = pd.read_csv("dataset/train.csv")
data

       row_id        date   state      store      product  num_sold
0         0.0  01-01-2015  Kerala  ExcelMart      Mec Mug     329.0
1         1.0  01-01-2015  Kerala  ExcelMart      Mec Hat     520.0
2         2.0  01-01-2015  Kerala  ExcelMart  Mec Sticker     146.0
3         3.0  01-01-2015  Kerala   MecStore      Mec Mug     572.0
4         4.0  01-01-2015  Kerala   MecStore      Mec Hat     911.0
...       ...         ...     ...        ...          ...       ...
24585     NaN         NaN     NaN        NaN          NaN       NaN
24586     NaN         NaN     NaN        NaN          NaN       NaN
24587     NaN         NaN     NaN        NaN          NaN       NaN
24588     NaN         NaN     NaN        NaN          NaN       NaN
24589     NaN         NaN     NaN        NaN          NaN       NaN

[24590 rows x 6 columns]

In [4]:
data.dropna(inplace=True)

In [5]:
X = data.drop('num_sold', axis=1)
Y = data['num_sold']
# X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [6]:
categorical_features = ['date', 'state', 'store', 'product']
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, categorical_features)
    ])

In [7]:
base_models = [
    ('rf', RandomForestRegressor(random_state=0)),
    ('xgb', xgb.XGBRegressor(random_state=0))
]

stacked_regressor = StackingRegressor(
    estimators=base_models,
    final_estimator=RandomForestRegressor(random_state=0)
)

boosted_regressor = Pipeline([
    ('preprocessor', preprocessor),
    ('stacked_regressor', stacked_regressor)
])

In [8]:
boosted_regressor.fit(X ,Y)
# Y_pred = boosted_regressor.predict(X_test)

In [9]:
import pickle

with open('final_model.pkl', 'wb') as file:
    pickle.dump(boosted_regressor, file)

In [10]:
# mse = mean_squared_error(Y_test, Y_pred)
# print("Mean Squared Error:", mse)

# r2 = r2_score(Y_test, Y_pred)
# print("R2 Score:", r2)

Mean Squared Error: 7294.0024253701395
R2 Score: 0.8963431582769353

In [11]:
test = pd.read_csv('dataset/test.csv')
prediction = boosted_regressor.predict(test)
prediction = np.round(prediction).astype(int)
prediction_df = pd.DataFrame({'row_id': test['row_id'] , 'num_sold': prediction})

prediction_df.to_csv('prediction.csv', index=False)